<a href="https://colab.research.google.com/github/yccc1023/Introduction-to-Computers/blob/main/0606.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print("0606")

0606

In [2]:
i = 0
result = 0
while i <=50:
  if i %2 == 0:
    result += i
  i+=1
print("0～50的偶數和結果是%d" % result)

0～50的偶數和結果是650

In [4]:
i = 0
result = 0
while i <=50:
  if i %2 != 0:
    result += i
  i+=1
print("0～50的奇數和結果是%d" % result)

0～50的奇數和結果是625

In [7]:
n = int(input("請輸入正整數:"))
for i in range(1,n+1):
  for j in range(i,n+1):
    print("＊",end="")
  print()

請輸入正整數:7
＊＊＊＊＊＊＊
＊＊＊＊＊＊
＊＊＊＊＊
＊＊＊＊
＊＊＊
＊＊
＊

In [8]:
sum = 0
for i in range(0,101):
  if (i%3==0 or i%7==0):
    sum += i
print("數值1～100中，所有是3或7倍數的是數之總和=",sum)

數值1～100中，所有是3或7倍數的是數之總和= 2208

In [10]:
p = 1
counter=0
n=int(input("請輸入正整數"))
print(n,"的因數有",end=" ")
while (p<=n):
  if (n%p==0):
    print(p,end=" ")
    counter+=1
  p+=1
print()
if(counter==2):
  print(n,"是質數")
else:
  print(n,"不是質數")

請輸入正整數11
11 的因數有 1 11
11 是質數

In [11]:
list1 = [1,2,3,4,5]

In [12]:
list1

[1, 2, 3, 4, 5]

In [14]:
list2=["香蕉","蘋果","橘子"]

In [15]:
list2

['香蕉', '蘋果', '橘子']

In [16]:
list3=[1,"香蕉",True]

In [17]:
list3

[1, '香蕉', True]

In [19]:
print(list1)

[1, 2, 3, 4, 5]

In [18]:
print(list1[0])

1

In [21]:
print(list1[1])

2

In [20]:
print(list1[0])
print(list1[1])
print(list1[2])
print(list1[3])
print(list1[4])

1
2
3
4
5

In [22]:
list4=["香蕉","蘋果","橘子"]

In [23]:
print(list4[1])

蘋果

In [24]:
print(list4[0])
print(list4[1])
print(list4[2])

香蕉
蘋果
橘子

In [25]:
print(list4[3])

IndexError: ignored

In [26]:
print(list4[-1])
print(list4[-2])
print(list4[-3])

橘子
蘋果
香蕉

In [31]:
list5=[["tom","1234"]],["mary","abcd"],["david","5678"]

In [32]:
print(list5[1])

['mary', 'abcd']

In [33]:
print(list5[0])

[['tom', '1234']]

In [34]:
print(list5[1][1])

abcd

In [35]:
print(list5[0])

[['tom', '1234']]

In [36]:
print(list5[0][0])

['tom', '1234']

In [37]:
print(list5[1][0])

mary

In [43]:
list0=[85,79,93]
print("國文成績:%d分"%list6[0])
print("數學成績:%d分"%list6[1])
print("英文成績:%d分"%list6[2])

國文成績:85分
數學成績:79分
英文成績:93分

In [44]:
list6=[1,2,3,4,5]

In [45]:
print(list6[0])

1

In [46]:
list6[0]=9

In [47]:
print(list6[0])

9

In [48]:
print(list6)

[9, 2, 3, 4, 5]

In [49]:
list7=["香蕉","蘋果","橘子"]

In [51]:
for s in list7:
  print(s,end=",")

香蕉,蘋果,橘子,

In [53]:
list8=[1,"香蕉",True]
for a in list8:
  print(a)

1
香蕉
True

In [54]:
scores=[85,79,93]
print(len(scores))

3

In [55]:
scores=[85,79,93]
for i in range(len(scores)):
  print(scores[i])

85
79
93

In [89]:
scores=[85,79,93]
suject=["國文","數學","英文"]

for i in range(len(scores)):
  print("%s成績:%d分"%(suject[i],scores[i]))

國文成績:85分
數學成績:79分
英文成績:93分

In [90]:
a=[1,2,3]
name=["Tom","Mary","Tony"]

for i in range(len(a)):
  print("編號:%s 姓名:%s"%(a[i],name[i]))

編號:1 姓名:Tom
編號:2 姓名:Mary
編號:3 姓名:Tony